.footer {
    background-color: #0A3186;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    height: 100px;
   
    p{
        color: white;
        font-size: 16px;
        font-family: 'Arial', sans-serif;
    }
}